.inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.action_section {
    /* margin: 20px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.action_section button:nth-child(1) {
    width: 100%;
    padding: 15px 15px;
    font-size: 16px;
     color: #FFFFFF;
     background-color: #084777;
     border: none;
     outline: none;
     border-radius: 4px;
     font-weight: 500;
}

.continue {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
     color: #12128D;
     background-color: #FFFFFF;
     border: 1.5px solid #9a9a98;
     outline: none;
     border-radius: 4px;
     font-weight: 500;
     box-shadow: 0px 0px 0px 4px rgba(181, 200, 214, 0.4);
    border-radius: 4px;
}
.continue img {
    margin-right: 20px;
}


@media (min-width: 300px) and (max-width: 480px) {
  .formbody {
    width: 90%;
    margin: auto;
  }

}
@media (min-width: 481px) {
  .formbody {
      position: relative;
      top: 0vh;
      width: 450px;
      margin: auto;
    }
}
